<html>
<head>
    <link rel="stylesheet" href="static/css/imgmodal.css" type="text/css">
    <style type="text/css">
        @font-face{font-family:Spotify-Book;src:url(static/css/fonts/CircularSpotifyTxT-Book.woff)}
        @font-face{font-family:Spotify-Light;src:url(static/css/fonts/CircularSpotifyTxT-Light.woff)}
    </style>
    

</head>
<body>

        
     <p>&nbsp;</p>
         
                                <p class="center" style="font-family:Spotify-Book;font-size:3vw" class= "center w3-padding-top-64">
                                    <a href="https://open.spotify.com/" title="No track is currently playing" target="_blank" style="text-decoration:none;color:#000000;  position: relative;
  text-align: center;font-family:Spotify-Book;font-size:4vw" class= "center"><Strong>No track is currently playing</Strong></a> 
                                </p>

                                
                                
   <p style="text-align: center;"><a href="https://open.spotify.com/" title="No track is currently playing" target="_blank"> <img src="static/images/listen-on-spotify1.png" alt="Open Spotify" width="35%"> </a></p>
    


           



    

</body> 
</html>